html {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: grey;
}